.logo-holder {
  width: 220px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 940px) {
  .logo-holder {
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }
}
.navigation-button {
  display: none;
}
@media (max-width: 940px) {
  .navigation-button {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: Montserrat;
    font-style: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
}
.navigation-holder {
  width: 700px;
  height: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 940px) {
  .navigation-holder {
    display: none;
  }
}
@media (max-width: 940px) {
  .navigation-holder--mobile-open {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(124, 197, 118, 0.95);
    padding-top: 80px;
  }
}
._navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media (max-width: 940px) {
  ._navigation-list {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
._navigation-list__list-item {
  padding-left: 30px;
}
._navigation-list__list-item a {
  text-decoration: none;
  color: #777;
  font-size: 22px;
  font-family: Montserrat;
  transition: 0.2s ease-out;
  border-bottom: 0px solid #7cc576;
  padding-bottom: 7px;
}
@media (max-width: 940px) {
  ._navigation-list__list-item a {
    color: #fff;
  }
}
._navigation-list__list-item a:hover,
._navigation-list__list-item a:focus {
  color: #222;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  padding-bottom: 3px;
  outline: none;
}
._navigation-list__list-item a:active {
  color: #222;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  padding-bottom: 3px;
}
.header {
  height: 530px;
  background-image: url(../img/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-content {
  width: 620px;
  padding-top: 90px;
}
.heading-1 {
  font-size: 60px;
  line-height: 65px;
  color: #fff;
  font-weight: 700;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 30px;
}
@media (max-width: 940px) {
  .heading-1 {
    font-size: 40px;
  }
}
.subtitle {
  font-size: 20px;
  color: #777777;
  font-family: 'Roboto Slab';
  margin-top: 0;
}
@media (max-width: 940px) {
  .subtitle {
    font-size: 18px;
  }
}
.subtitle__header {
  font-size: 20px;
  color: #ccc;
  font-family: 'Roboto Slab';
}
.heading-2 {
  font-size: 40px;
  line-height: 50px;
  color: #222;
  font-weight: 700;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 5px;
}
@media (max-width: 940px) {
  .heading-2 {
    font-size: 30px;
  }
}
.heading-2.white {
  color: #fff;
}
.heading-2 em {
  color: #7cc576;
  font-style: normal;
}
.heading-block {
  margin-bottom: 80px;
  text-align: center;
}
.button {
  height: 60px;
  background-color: #7cc576;
  border-radius: 60px;
  padding: 20px 35px 20px 35px;
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 1px 1px #22811a;
}
.servise-box {
  text-align: center;
}
.service-box__icon {
  margin-bottom: 35px;
}
.service-box__header {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.service-box__text {
  color: #777777;
  font-family: 'Roboto Slab';
  font-size: 14px;
  letter-spacing: -0.5px;
}
.special-bg-block {
  display: flex;
  flex-direction: row;
}
.background-icon {
  width: 30%;
  background-color: #e9e9e9;
  position: relative;
}
@media (max-width: 940px) {
  .background-icon {
    display: none;
  }
}
.background-icon:after {
  display: block;
  width: 190px;
  height: 100%;
  position: absolute;
  content: "";
  background-image: url(../img/bg/bg-gear.svg);
  background-repeat: no-repeat;
  background-position: left center;
  right: 0px;
  top: 0px;
}
.background-photo {
  width: 70%;
  background-image: url(../img/bg/bg-relax.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
@media (max-width: 940px) {
  .background-photo {
    width: 100%;
  }
}
.special-bg-block-content {
  padding: 100px;
  width: 700px;
  color: #ccc;
}
@media (max-width: 940px) {
  .special-bg-block-content {
    width: 100%;
    padding: 35px 15px;
  }
}
.list-icons-check {
  list-style-type: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}
.list-icons-check li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.list-icons-check li:before {
  content: "";
  background-image: url(../img/icons/icon-check.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 33px;
  height: 33px;
  top: 0;
  left: 0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 940px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 940px) {
  .row {
    flex-direction: column;
  }
}
.container-fluid {
  width: 100%;
}
.container-padding {
  padding-top: 90px;
  padding-bottom: 90px;
}
.col-1-of-3 {
  width: 33%;
}
@media (max-width: 940px) {
  .col-1-of-3 {
    width: 100%;
  }
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
