.container-fluid {
  width: 100%;
}
.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.main-header {
  width: auto;
  height: 800px;
  background-image: url(../img/bg/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  float: left;
}
.menu {
  float: right;
}
.header-text {
  font-size: 16px;
  color: rgba(50, 176, 238, 0.302);
  padding-top: 5px;
}
.logo-text {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu a {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 35px;
}
.menu a:hover {
  padding-top: 25px;
  border-top: 1px solid rgba(15, 235, 158, 0.902);
  border-width: medium;
}
.menu a:last-child {
  margin-right: 0;
}
.header-title {
  padding-top: 450px;
}
.header_main-title {
  font-size: 62px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}
.header_sub-title {
  font-size: 48px;
  color: rgba(15, 235, 158, 0.902);
  line-height: 1.2;
  text-align: center;
}
.header_shapes-text {
  padding-top: 20px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.902);
  line-height: 1.2;
  text-align: center;
}
.header_social {
  padding-top: 70px;
  text-align: center;
}
.header_social a {
  padding-right: 25px;
  font-size: 25px;
  color: #fff;
}
.header_social a:last-child {
  padding-right: 0;
}
.header_social a:hover {
  color: #1de9b6;
}
body {
  font-family: "OpenSans";
}
